/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-font);
  font-size: var(--font-size);
  background-image: var(--page-bg-image);
  line-height: var(--text-line-height);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--main-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  block-size: 100vh;
  min-block-size: var(--cover-min-height, 668px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  place-items: center start;
  padding: var(--global-padding);
  margin-block-end: var(--cover-margin);
}

.decorated-zone {
  position: relative;
}

.header__rec {
  display: var(--rec-display, flex);
  align-items: center;
  gap: 10px;
  position: absolute;
  inset: var(--global-padding) calc(var(--global-padding) + 8px) auto auto;
  color: var(--accent-color);
  font-size: var(--font-size);
  line-height: 1.39;
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  pointer-events: none;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  inset: var(--global-padding) var(--global-padding) auto auto;
  border-top: 1px solid var(--heading-font-color);
  border-right: 1px solid var(--heading-font-color);
}

.decorated-zone::after {
  inset: auto auto var(--global-padding) var(--global-padding);
  border-bottom: 1px solid var(--heading-font-color);
  border-left: 1px solid var(--heading-font-color);
}

.header__theme-menu {
  grid-row: 1;
  place-self: center end;
  color: var(--heading-font-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 1.5px 12px 3px;
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.cover-title {
  color: var(--title-font-color);
  font-weight: bold;
  font-size: var(--title-font-size);
  line-height: 0.83;
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  justify-self: end;
  align-self: center;
  font-weight: bold;
  max-inline-size: 491px;
}

.content-section__title {
  font-size: var(--font-size);
  font-weight: bold;
  color: var(--heading-font-color);
  line-height: var(--text-line-height);
}

.title-decor {
  font-size: var(--font-size);
  font-weight: bold;
  color: var(--subtitle-font-color);
  background-color: var(--accent-color);
}

.content-section__text {
  color: var(--primary-font-color);
}

.title-decor_regular {
  font-weight: 400;
}

.main {
  display: grid;
  gap: var(--sections-gap);
  padding: 0 var(--global-padding);
  margin-block-end: var(--cover-margin);
}

.content-section__link {
  line-height: 1;
  border-block-end: 1px solid transparent;
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.content-section__link:hover {
  border-block-end-color: currentColor;
}

.content-section__link:focus-visible {
  outline: 1px solid currentColor;
}

.content-section {
  display: grid;
  grid-auto-rows: min-content;
  grid-auto-flow: row;
  gap: var(--local-padding);
  inline-size: 100%;
}

.content-section__card {
  display: grid;
  gap: 10px;
  align-content: start;
}

.content-section__list {
  display: grid;
  gap: var(--local-padding);
}

.gallery-section {
  display: grid;
  gap: var(--gallery-gap);
}

.gallery-section__list {
  display: grid;
  gap: var(--gallery-gap);
}

.gallery-section__item {
  display: grid;
}

.gallery-section img {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  display: grid;
  place-items: center;
  padding: var(--global-padding);
  block-size: 100vh;
  min-block-size: var(--cover-min-height);
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .header__title {
    grid-column: 1 / -1;
    margin-inline-start: calc(var(--global-padding) * -1);
  }

  .header__text {
    grid-column: 2;
  }

  .content-section {
    grid-template-columns: 1fr 2fr;
  }

  .content-section_why .content-section__card {
    grid-column: 2;
  }

  .content-section_what .content-section__card {
    grid-column: 1 / -1;
  }

  .content-section_how .content-section__title {
    grid-column: 1;
    grid-row: 1 / 3;
  }

  .content-section_how .content-section__list {
    grid-column: 2;
  }

  .gallery-section__list {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row dense;
  }

  .gallery-section__item_sunset,
  .gallery-section__item_street {
    grid-column: span 2;
  }

  .gallery-section__item_ice-cream,
  .gallery-section__item_tape {
    grid-row: span 2;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    grid-column: 1 / -1;
    place-self: start center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .content-section_why .content-section__card {
    grid-column: 2 / -1;
  }

  .content-section_what .content-section__title {
    grid-column: 1;
    grid-row: 1;
  }
  .content-section_what .content-section__card {
    grid-column: auto;
    grid-row: 2;
  }

  .content-section_how .content-section__subtitle,  
  .content-section_how .content-section__list {
    grid-column: 2 / -1;
  }
}