:root {
  --cover-min-height: 668px;
  --main-font: 'IBM Plex mono', monospace;
  --font-size: 18px;
  --global-padding: 10px;
  --local-padding: 20px;
  --cover-margin: 40px;
  --sections-gap: 50px;
  --gallery-gap: var(--global-padding);
  --text-line-height: 1.30;
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  --page-bg-image: url("../images/cover-image-dark.png");
  --main-color: #000028;
  --accent-color: #ff0070;
  --title-font-color: #db00ff;
  --heading-font-color: var(--accent-color);
  --subtitle-font-color: var(--main-color);
  --primary-font-color: #F1B2CE;
  --border-hover-color: #FF007066;
}

@media (width >= 768px) {
  :root {
    --cover-min-height: 1024px;
    --global-padding: 20px;
    --cover-margin: 60px;
    --sections-gap: 80px;
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  :root {
    --cover-min-height: 768px;
  }
}
/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
